/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* 
Conventions:
	border-radius: 4px

Colors: 
	off-white: #f7f7f7
	lightest-blue: #effffb
	Green: #50d890
	Blue: #4f98ca
	Black: #272727

Fonts:
	Logo: 'Lily Script One', cursive;
	Heading: 'Nunito', sans-serif;
	Secondary: 'Telex', sans-serif;
}
*/


* {
	box-sizing: border-box;
	font-family: 'Telex', sans-serif;
}

body {
	background-color: #f7f7f7;
}

main {
	text-align: center;
	background-color: #f7f7f7;
}

h1 {
	font-family: 'Lily Script One', cursive;
}

h2{
	font-family: 'Nunito', sans-serif;
}

h3{
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
}

button {
	background-color: #50d890;
	border-radius: 4px;
	font-size: 14px;
	margin: 8px;
	padding: 10px 20px;
	transition: .1s;
	box-shadow:  1px 1px 2px #8baf9d, 
			 -1px -1px 2px #e0ffef;
	border: none;
}
button:hover{
	background-color: #65eba4;
	cursor: pointer;
}
button.depressed{
	background-color: #389c67;
	box-shadow:  inset 1px 1px 2px #2a533f, 
	inset -1px -1px 2px #4bc586;
}
button.depressed:hover{
	background-color: #389c67;
	cursor: default;
}
button.disabled{
	color: rgba(73, 73, 73, 0.3);
    background-color: #80c5a0;
}
input, select, textarea, input.location-search-input{
    background-color: #f8f8f8;
    box-shadow:  inset 1px 1px 2px #dedede, 
    inset -1px -1px 2px #ffffff;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
	padding: 2px;
}
.input-block{
	width: 100%;
    margin-top: 10px;
    display: block;
}


.App{
	height: 100%;
}


.error-overlay{
	height: 100%;
	width: 100%;
	z-index: 250;
	position: absolute;
	background-color: #38383891;
}
.error-overlay.hidden{
	display: none;
}
.error-container{
	position: absolute;
	z-index: 300;
	background-color: #f7f7f7;
	border-radius: 4px;
	border: solid 1px #b9b8b8;
	font-family: 'Telex', sans-serif;
	text-align: center;
	padding: 10px;
	margin: 30vh 25%;
	width: 50%;
}

a.inline-link {
    display: inline-block;
    background-color: #50d890;
	border-radius: 4px;
	font-size: 14px;
	margin: 4px;
	padding: 4px 8px;
	transition: .1s;
	box-shadow:  1px 1px 2px #8baf9d, 
			 -1px -1px 2px #e0ffef;
    border: none;
    color: #272727;
    text-decoration: none;
}

