
.landing-page main, .create-account-page main{
    width: 50%;
    margin: 16px auto;
    padding: 10px 40px;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow:  2px 2px 4px #dedede, 
    -2px -2px 4px #ffffff;
    border-radius: 8px;
}

.landing-page p{
    margin: 10px 0px;
    font-size: 12px;
}

.landing-page button, .create-account-page button{
    height: 46px;
    width: 100%;
    margin: 4px;
    background-color: #50d890;
	border-radius: 4px;
	font-size: 16px;
	padding: 4px 8px;
	transition: .1s;
	box-shadow:  1px 1px 2px #8baf9d, 
			 -1px -1px 2px #e0ffef;
    border: none;
    color: #272727;
    text-decoration: none;
}

h2.onbelay-title{
    font-size: 34px;
    display: block;
    font-family: 'Lily Script One', cursive;
}

main .figure-eight-logo {
    height: 50px;
    margin-left: 8px;
}

.create-account-form, .login-form{
    margin: 0px;
    text-align: left;
}

.form-element{
    margin-bottom: 10px;
}

#stay-signed-in{
    margin-left: 0px;
}

.create-account-form label.stay-signed-in-label, .login-form label.stay-signed-in-label{
    border-bottom: none;
    margin-left: 4px; 
}

p.validation-error{
	font-family: 'Telex', sans-serif;
	font-size: 11px;
}

@media only screen and (max-width: 600px) {
    .landing-page main, .create-account-page main{
        width: 80%;
    }
}