.image-cropper-container{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 100;
    top: -10;
    background-color: #272727d0;
}

.crop-buttons-container{
    position: absolute;
    height: 10vh;
    width: 60%;
    justify-content: space-between;
    bottom: 0;
    margin: 10px 20%;
    text-align: center;
}

.crop-container{
    top: 0;
}

.crop-buttons-container button{
    box-shadow: none;
}

button.cancel{
    background-color: #ec5f3f;
    border: none;
}
button.cancel:hover{
    background-color: #fd8267;
}
